# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/

# Jupyter
.ipynb_checkpoints/

# OS / backup files
.DS_Store
*.bak
*.log

# CSV backups (optional)
*.csv~

# Secrets (if used later)
.env

node_modules/